# Eclipse metadata
/.metadata
rawDataParser/.metadata/
rawDataParser/.settings/

# unitsToAdd data will be generated on each call of ./addUnits
unitsToAdd.js

# C intermediate files
*.o

# raw data files
*.RD
*.RD-*

# raw data folders
unitsToAdd/

#Custom config files and backups
exportFields
toReset
masterRecord.js
masterTestRecord.js

testerBackup.*
unitsBackup.*

# java class files
*.class
